Host

<button (click)="nav()">NAV!</button>

Module Federation

Hi.
I shall tell you a tale of our groundbreaking discovery in 2021.
Once Upon a time, we built our WebHost in one monolithic build.
Those were the dark ages around the year 2020. But then in 2021, we built our WebHost in a modular fashion.
It all started with a simple Angular app that we built during our Hackathon in 2021. I remember it as if it were today.
After sweaty and tired nights, and a few "Cannot read properties of undefined (reading 'ɵmod')" errors, we finally got it working.
This breakthrough set the stage for a new era of web development in our department.

Remember, remember,
the 24th of September.
Where the WebHost ascended,
and the dark ages ended.

~ Hack-Mak Agency™ ® © (2030)


<router-outlet></router-outlet>

<button (click)="add()">Add Host</button>
Host: {{val}}