<sw-navigation-drawer [opened]="navOpened">
  <sw-appbar [title]="'Cool Host'" [showSearchButton]="true" [showMenuButton]="true" [showProfile]="true"
    [profileInitials]="'XD'" (menuButtonClicked)="toggleNavDrawer()">
  </sw-appbar>

  <sw-sidenav [mode]="sideNavMode" [width]="100" [widthUnit]="'vw'" [position]="'end'" [opened]="true">
    <div sidenavContent>
      Sidenav content
    </div>
  </sw-sidenav>

  <div sidenavContent class="flex no-over">
    <router-outlet></router-outlet>
  </div>

  <button (click)="tmp()">click</button>
</sw-navigation-drawer>